Repository LabKey/commonAssays, pull requests merged in 2019-10, with the labels that each got.

#81 Issue 38626: add more details (i.e. Acquisition Date) to Luminex Levey-Jennings plot data point hover text
  luminex/webapp/luminex/LeveyJenningsPlotHelpers.js
  luminex/webapp/luminex/LeveyJenningsTrendPlotPanel.js
Labels: TeamCity test review complete

#71 6221: Luminex Cross-Plate Titrations
  luminex/src/org/labkey/luminex/LuminexDataHandler.java
  luminex/src/org/labkey/luminex/LuminexExcelParser.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexExcludedTitrationTest.java
Labels: TeamCity test review complete, needs issue verification

#82 Item 6199: support other assay provider types in AssayDesignerPanels and AssayPropertiesPanel
  elisa/src/org/labkey/elisa/ElisaAssayProvider.java
  elispotassay/src/org/labkey/elispot/ElispotAssayProvider.java
  luminex/src/org/labkey/luminex/LuminexAssayProvider.java
  luminex/test/src/org/labkey/test/tests/luminex/AssayTransformWarningTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexPositivityTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexTest.java
  ms2/src/org/labkey/ms2/metadata/MassSpecMetadataAssayProvider.java
  ms2/test/src/org/labkey/test/tests/ms2/ProteinExpressionMatrixAssayTest.java
  nab/src/org/labkey/nab/NabAssayProvider.java
  viability/src/org/labkey/viability/ViabilityAssayProvider.java
Labels: TeamCity test review complete, issue verification complete

#90 Fb ux assay test migrate
  luminex/test/src/org/labkey/test/tests/luminex/LuminexAsyncImportTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexEC50Test.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexExcludableWellsTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexExclusionRetentionTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexGuideSetDisablingTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexGuideSetTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexJavaTransformTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexPositivityTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexRTransformTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexSinglePointTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexValueBasedGuideSetTest.java
  ms2/test/src/org/labkey/test/ms2/AbstractMS2SearchEngineTest.java
  ms2/test/src/org/labkey/test/tests/ms2/ProteinExpressionMatrixAssayTest.java
Labels: TeamCity test review complete

#92 Item 6451: Assay and domain designer test fixes for changes to field designer
  luminex/test/src/org/labkey/test/tests/luminex/LuminexGuideSetDisablingTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexGuideSetTest.java
  luminex/test/src/org/labkey/test/tests/luminex/LuminexTest.java
  ms2/test/src/org/labkey/test/tests/ms2/ProteinExpressionMatrixAssayTest.java
Labels: TeamCity test review complete
